@import url('https://fonts.googleapis.com/css?family=Nunito:200,400,900&display=swap');

* {
  box-sizing: border-box;
}
body {
  background-color: black;
  font-family: 'Nunito', sans-serif;
}
h1, h2, p, button {
  color: white;
}
h1 {
  padding-top: 100px;
  text-align: center;
}
h2 {
  background-color: red;
  width: 100px;
  padding-top: 50px;
  padding-bottom: 50px;
  margin-left: 50px;
  margin-right: 50px;
  text-align: center;

}
.onevsone {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
}
div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}
.row {
  flex-direction: row;
}
#vs {
  width: 150px;
  height: 30px;
  text-align: center;
  margin: 0;
}
button {
  background-color: black;
  width: 150px;
  height: 30px;
  border: solid red 3px;
  transition: background-color 0.7s ease-out, color 0.7s ease-out;
}
button:hover {
  background-color: white;
  color: black;
}
#Play {
  padding-top: 100px;
}
